body {
    background-color: rgb(255, 255, 255);
}

.container {
    background-color: rgb(250, 215, 215);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: space-around
}

.content {
    width: 200px;
    height: 300px;
}

.content1 {
    background-color: red;
}

.content2 {
    background-color: yellow;
}

.content3 {
    background-color: blue;
}

img {
    width: 250px;
    height: 250px;
}

.box {
    display: flex;
}

.row {
    margin: 20px;
  }
  
  #blog {
    text-align: left;
    background-color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    margin: 5px;
  }
  
  #experience {
    text-align: left;
    background-color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    margin: 5px;
  }
  
  div.gallery {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  .gallery:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 5px solid #EFD3D7;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /* animation-name: zoom;
    animation-duration: 0.6s; */
  }