body {
  /* background-color: rgb(255, 255, 255); */
  background-image: url("../img/bg-detail.jpg");
  /* Full height */
  height: 250vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* .container {
  display: flex;
  width: 100vw;
  height: 70vh;
  align-items: flex-start;
  justify-content: space-around
} */
div#developer{
  margin-top: 5vh;
}
div#genre{
  margin-top: 3vh;
}
#headtext1{
  font-size: 30px;
}
.pic{
  margin-top: 200px;
  margin-bottom: 120px;
}
/* .content {
    width: 200px;
    height: 300px;
}

.content1 {
    background-color: red;
}

.content2 {
    background-color: yellow;
}

.content3 {
    background-color: blue;
} */
#headtext1{
  font-size: 35px;
}
#headtext2{
  font-size: 35px;
}
#genre{
  font-size: 18px;
}
#platform{
  font-size: 18px;
}
#publisher{
  margin-top: 20px;

}
.store{
  text-align: center;
}


.box {
  display: flex;
}

.row {
  margin: 20px;
}

#blog {
  text-align: left;
  width: 100%;
  margin: 5px;
  font-size: 18px;
}

#experience {
  text-align: left;
  width: 100%;
  margin-top: 50px;
  font-size: 18px;
  
}
.min_system{
  font-size: 18px;
}
.reg_system{
  font-size: 18px;
}

div.gallery {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.gallery:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 5px solid #EFD3D7;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  /* animation-name: zoom;
    animation-duration: 0.6s; */
}

#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../img/bg-detail.jpg") no-repeat center;
    background-size: cover;
  opacity: 100;
  transition: .5s;
  z-index: 5;
}
#loadElement{
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#loader{
  border: 16px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border-top: 16px solid #7f42f0;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

#loaderText{
  font-family: Athiti;
  margin-top: 2vw;
  color: #ededed;
  font-size: 2vw;
  text-align: center;
  word-break: keep-all;
}

@media all and (max-width: 992px) {
    
}
@media screen and (min-width: 576px) and (max-width: 991px) {
    #headtext1{
      font-size: 25px;
    }
    #headtext2{
      font-size: 25px;
    }
    #experience{
      margin-top: 25px;
      font-size: 18px;
    }
    #developer{
      font-size: 18px;
    }
    #publisher{
      margin-top: 10px;
      font-size: 18px;
    }
    .pic{
      margin-top: 120px;
    }
    body {
      height: 250vh;
      }

}
@media screen and (max-width: 576px) {
  #headtext1{
    font-size: 24px;
  }
  #headtext2{
    font-size: 25px;
  }
  #experience{
    margin-top: 30px;
  }
  #developer{
    font-size: 16px;
  }
  #publisher{
    margin-top: 10px;
    font-size: 16px;
  }
  #desc{
    font-size: 16px;
  }
  .pic{
    margin-top: 60px;
  }
  
  .system1{
    font-size: 24px;
  }
  .min_system{
    font-size: 16px;
  }
  .reg_system{
    margin-top: 20px;
    font-size: 16px;
  }
  #blog{
    font-size: 16px;
  }
  body {
  height: 330vh;
  }
}

body{
  color: black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: underline red;
  font-style: italic;
  border: none;
}
.text{
  font-size: 20px;
  color: white;
}
.container-fluid {
  display: flex;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
  flex-direction: column;
  background: url("../img/bg_home.png") no-repeat center;
  background-size: cover;
height: 100%;
padding: 0px;

}

#gameList {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.slider {
  max-width: 1100px;
  display: flex;
}

.slider .card {
  background: #fff;
  flex: 1;
  margin: 0 10px;
  place-items: center;
  border-radius: 20px;
  margin-top: 20px;
  
}

.slider .card .img {
  height: 200px;
  width: 100px;
}

.slider .card .img img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  margin-top: 10px;
  padding-right: 14px;

}

.slider .card .content {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider .card .title {
  font-size: 25px;
  font-weight: 600;
}

.slider .card .sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.card .content .btn {
  display: flex;
  text-align: left;
  margin: 10px 0;
  justify-content: center;
}

.card .content .btn button {
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.card .content .btn button:hover {
  transform: scale(0.9);
}

.texthead {
  place-self: flex-start;
  margin-left: 50px;
}

.display-3 {
  color: white;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 55px;
}

@media all and (max-width: 992px) {
  
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .text{
      font-size: 16px;
  }
  .display-3 {
      font-size: 35px;
  }
  .slider .card{
      width: 80%;
      height: 300px;
  }
  .slider .card .img img{
      object-fit: cover;
      height: 100%;
      width: 100px;
      padding-right: 0px;
  }
  .slider .card .title{
      font-size: 16px;
  }
  .slider .card .sub-title{
      font-size: 10px;
  }
  .card .content .btn button {
      background: #e74c3c;
      color: #fff;
      border: none;
      outline: none;
      font-size: 17px;
      padding: 5px 8px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
      font-size: 14px;
  }
  /* .slider {
      max-width: 1100px;
      display: flex;
  }
  
  .slider .card {
      background: #fff;
      flex: 1;
      margin: 0 10px;
      place-items: center;
      border-radius: 20px;
      height: 300px;
      margin-top: 20px;
      
  }
  
  .slider .card .img {
      height: 150px;
      width: 80px;
  }
  
  .slider .card .img img {
      height: 100%;
      width: 150px;
      object-fit: cover;
      padding-right: 50px;
  
  }
  
  .slider .card .content {
      padding:0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .slider .card .title {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
  }
  
  .slider .card .sub-title {
      font-size: 16px;
      font-weight: 600;
      color: #e74c3c;
      line-height: 20px;
  }
  
  .card .content p {
      text-align: justify;
      margin: 10px 0;
  }
  
  .card .content .btn {
      display: flex;
      text-align: left;
      margin: 10px 0;
      justify-content: center;
  }
  .display-3 {
      font-size: 40px;
  } */

}
@media screen and (max-width: 576px) {
  .text{
      font-size: 12px;
  }
  .display-3 {
      font-size: 30px;
  }
  .slider .card{
      width: 80%;
      height: 220px;
  }
  .slider .card .img img{
      object-fit: cover;
      height: 100%;
      width: 80px;
      padding-right: 0px;
      padding-left: 15px;
  }
  .slider .card .title{
      font-size: 14px;
  }
  .slider .card .sub-title{
      font-size: 11px;
  }
  .card .content .btn button {
      background: #e74c3c;
      color: #fff;
      border: none;
      outline: none;
      font-size: 12px;
      padding: 5px 8px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
  }
  .card .content .btn {
      display: flex;
      text-align: left;
      margin: 0px 0;
      justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .display-3 {
      font-size: 22px;
  }
  .slider .card{
      width: 80%;
      height: 200px;
  }
  .slider .card .img img{
      object-fit: cover;
      height: 100%;
      width: 70px;
      padding-right: 0px;
      padding-left: 30px;
  }
  .slider .card .title{
      font-size: 10px;
  }
  .slider .card .sub-title{
      font-size: 8px;
  }
  .card .content .btn button {
      background: #e74c3c;
      color: #fff;
      border: none;
      outline: none;
      font-size: 10px;
      padding: 5px 8px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
  }
  .card .content .btn {
      display: flex;
      text-align: left;
      margin: 0px 0;
      justify-content: center;
  }
}

#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../img/bg_home.png") no-repeat center;
  background-size: cover;
  opacity: 100;
  transition: .5s;
  z-index: 5;
}
#loadElement{
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#loader{
  border: 16px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border-top: 16px solid #7f42f0;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

#loaderText{
  font-family: Athiti;
  margin-top: 2vw;
  color: #ededed;
  font-size: 2vw;
  text-align: center;
  word-break: keep-all;
}
